* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 10px;
}

.bg-light {
    background-color: #fff !important;
}

a:hover {
    text-decoration: none;
}

small {
    font-size: 1.3rem;
    font-weight: 400;
    color: #B5B5B5;
}

/* Detail Page Data Left Inside */

#detail-page-inside {
    background-color: #f4f4f4;
    padding-top: calc(50px + 2rem);
    width: 100%;
}

.data-w-size {
    width: 75%;
}

.data-w-size-25 {
    width: 25%;;
}

.data {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
}

.data i {
    font-size: 1.7rem;
    color: #C8C8C8;
}

.data p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #c8c8c8; 
}

/* Detail Page Data Right Inside */

.data-right img {
    width: 2.2rem;
}

/*Heading Paragraph */

.authors-text {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.authors-text h3 {
    font-size: 3rem;
    font-weight: 600;
    color: #3a3a3a;
}

.heading  p {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2BCB60;
    
}

.heading img {
    width: 2.6rem;
}

.paragraph p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #929292;
}

.first-line {
    width: 100%;
    height: 0.2rem;
    background-color: #000;
    opacity: 0.1
    
}


/* Comment Css */
.user-comment-header {
    height: 10rem;
}

.user-comment-heading h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #3a3a3a;
}

.comment-line {
    width: 13rem;
    height: 0.2rem;
    background-color: #D9D9D9;
}

.user-comment-card {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.user-comment-img img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    
}

.user-comment-header h3 {
    font-size: 2.3rem;
    font-weight: 700;
    color: #3a3a3a;
}

/* User Comment Social Media */

.comment-social-media {
    position: relative;
    top: 1rem;
    left: 0rem;
    width:100%;
    margin-bottom: 1rem;
}

.comment-social-media  i {
    font-size: 2.5rem;
}

.comment-social-media  i:nth-child(1) {
    color: #D6D6D6;
}

.comment-social-media  i:nth-child(2) {
    color: #1DA1F2;
}

.comment-social-media  i:nth-child(3) {
    color: #4267B2;
}

.comment-social-media  i:nth-child(4) {
    color: #FF4431;
}

.comment-social-media  i:nth-child(5) {
    color: #D6D6D6;
}

.comment-social-media  i:nth-child(6) {
    color: #FFC014;
    margin-right: 0px;
}

/* Followed Button */

.followed-button a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #3aaf9a;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

/* Comment Text */

.comment-text {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7E7E7E;
}

/*Like Answer Date*/

.like p{
    font-size: 1.4rem;
    color: #FFA8A8;
}

.answer p {
    font-size: 1.4rem;
    color: #A8D4FF;
}

.date p {
    font-size: 1.4rem;
    color: #C8C8C8;
}

/* Comment Input */

.comment-textarea textarea {
    width: 100%;
    height: 15rem;
    resize: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #3a3a3a;
    border: 0.2rem solid #c8c8c8;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
}

textarea:focus {
    background-color:  transparent;
    outline: 0;
    border-color: #3aaf9a;
}

input[type=submit]  {
    font-size: 2rem;
    background-color: transparent;
    outline: 0;
    border: 0.2rem solid #3aaf9a;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #3aaf9a;
    font-weight: 700;
    transition: all ease .3s;
}

input[type=submit]:hover {
    background-color: #3aaf9a;
    color: #fff;
}


/*Detail Page Profile Card */

.detail-page-profile-card {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.profile-card-img {
    height: 9rem;
}

.profile-card-img img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);  
}

.profile-card-online-circle {
    width: 2rem;
    height: 2rem;
    background-color: #17E08F;
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 5.6rem;
}

.user-name h3 {
    font-size: 2rem;
    font-weight: 600;
}

/*Follower */

.follower {
    width:14rem;
    height: 3rem;
    background-color: #3aaf9a;
    border-radius: 0.5rem
}

.follow {
    width: 5.5rem;
}

.follower i {
    font-size: 1.7rem;
    color: #fff;
    
}

.follower p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}

.follower-line {
    height: 1.9rem;
    width: 0.2rem;
    background-color: #fff;
    opacity: 0.3
}

/* Total Text */
.total-text {
    width: 6rem;
}

.total-text i {
    font-size: 1.7rem;
}

.total-text p {
    font-size: 1.4rem;
}

/* Profile Line */

.profile-line {
    width: 100%;
    height: 0.2rem;
    background-color: #f4f4f4;
}

/* Profile Social Media */

.detail-page-profile-social-media i {
    font-size: 2rem;
}

.detail-page-profile-social-media i:nth-child(1) {
    color: #D6D6D6;
}

.detail-page-profile-social-media i:nth-child(2) {
    color: #1DA1F2;
}

.detail-page-profile-social-media i:nth-child(3) {
    color: #4267B2;
}

.detail-page-profile-social-media i:nth-child(4) {
    color: #FF4431;
}

.detail-page-profile-social-media i:nth-child(5) {
    color: #D6D6D6;
}

.detail-page-profile-social-media i:nth-child(6) {
    color: #FFC014;
    margin-right: 0px;
}

/* Follow Me Button */

.follow-button a {
    font-size: 1.6rem;
    font-weight: 600;
    border: 0.2rem solid #3aaf9a;
    color: #3aaf9a;
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: all ease .3s;
}

.follow-button a:hover {
    background-color: #3aaf9a;
    color: #fff;
}

/*Authors Heading */

.authors-heading h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #3aaf9a;
}

/* Right Layout  Authors Text */

.authors-popular-text {
    width: 100%;
    height: 20;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.authors-popular-text h4 {
    font-size: 2.4rem;
    font-weight: 600;
}

.authors-popular-text p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #707070;
}

.authors-popular-text-data p {
    font-size: 1.2rem;
    color: #C8C8C8;
}

.authors-popular-text-data i {
    font-size: 1.8rem;
    color: #C8C8C8;
}

.star {
position: relative;
    color: #FFC014;
}

.star-up{
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

/* More Button */
.more-button {
    width: 100%;
    background-color: #000;
    border-radius: 0.5rem;
    padding: 0.7rem;
}

.more-button a {
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}


@media (min-width:500px) {
    .data i {
        font-size: 2.2rem;
    }
    
    .data p {
        font-size:1.6rem;
    }
    
    .data-right img {
        width: 2.7rem;
        }
}

@media (min-width:576px) {
    .heading-eyes {
        margin-right: 2rem;
    }
    
    .heading-comment {
        margin-right: 2rem;
    }
    
    .heading-date {
        margin-right: 2rem;
    }
    
    .comment-social-media {
        width: 50%;
        left: 1.5rem;
        top: 1.5rem;
        margin-top: 0rem !important;
    }
    
    .user-comment-img img {
        width: 9rem;
        height: 9rem;
    }
    
    .authors-popular-text-data p {
        font-size: 1.6rem;
    }
    
    .authors-popular-text-data i {
        font-size: 2.2rem;
    }
    
    .detail-page-profile-social-media i {
        font-size: 3.5rem;
    }
     
}

@media (min-width:992px){
    #detail-page-inside {
        padding-top: calc(80px + 1.5rem);
    }
    .profile-card-img img {
        width: 7rem;
        height: 7rem;
    }
    .profile-card-online-circle {
    position: relative;
    top: -2rem;
    left: 5rem;
}
    .profile-card h3 {
       
    }
    .user-name h3 {
    margin-top: -1rem;
}
    .authors-popular-text-data p {
        font-size: 1.2rem;
    }
    
    .authors-popular-text-data i {
        font-size: 1.7rem;
    }
    
    .detail-page-profile-social-media i {
        font-size: 2rem;
    }
    
    .comment-social-media {
        width: 30%;
    }
}

@media (min-width:1200px) {
       .user-name h3 {
        margin-top: 0rem;
    }
    
        .authors-popular-text-data p {
        font-size: 1.4rem;
    }
    
    .authors-popular-text-data i {
        font-size: 2rem;
    }
    
    .user-comment-card  {
        width: 80%;
    }
    
    
    
}





