* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 10px;
}

.bg-light {
    background-color: #fff !important;
}

a:hover {
    text-decoration: none;
}

/* Filter */
.input-group-btn button:hover {
    color: #fff;
}

#filter {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    padding-top: calc(80px + 3rem);
}

.filter-button {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.filter-button p {
    font-size: 2.8rem;
    font-weight: 600;
    color: #3a3a3a;
}

.search-filter {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    position: relative;
    top: 2rem;
}

.toplam {
    height: 4.5rem;
}

.toplam p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3aaf9a;
}

.toplam input {
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 1.5rem;
    color: #B5B5B5;
}

.input-search input {
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #3a3a3a;
    border-radius: 0.5rem;
    flex: 20rem 0 0 !important;
}

.input-group-btn button {
    height: 4rem;
    font-size: 1.7rem;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.line {
    width: 90%;
    height: 0.2rem;
    background-color: #707070;
    opacity: 0.1;

}

.authors-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #3a3a3a;
}

.input-checkbox {
    font-size: 1.8rem;
}

.input-radio {
    font-size: 1.6rem;
}

.more a {
    font-size: 1.6rem;
    color: #B5B5B5;
}

.success-button {
    width: 6rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 0.5rem;
    background-color: #00acee;
    transition: all 300ms ease-in-out;

}

.success-button > .circle {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.success-button.active {
    background-color: #3aaf9a;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.success-button.active > .circle {
    margin-left: 3rem;
}

.filter-okay input {
    width: 90%;
    height: auto;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    outline: 0;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition: all .2s ease-in-out;

}

.filter-okay input:hover {
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

/* Text Filtering */

.text-filtering {
    background-color: #fff;
    height: 5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.text-filtering a {
    color: #3a3a3a;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

/* Page Number */

.page-number {
    height: 5rem;
}

.number {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    align-items: center;
    margin-left: 2rem;
}

.number a {
    color: #3a3a3a;
}


/*Search Page Responsive */

@media screen and (min-width:375px) {

    /* Filter Button */
    #filter {
        padding-top: calc(40px + 3rem);
    }

    .search-filter {
        margin-bottom: 5rem;
    }

    .toplam {
        height: 4.5rem;
    }

    .toplam p {
        font-size: 1.7rem;
    }

    .toplam input {
        font-size: 1.8rem;
    }

    .input-search input {
        height: 5rem;
        font-size: 1.8rem;
        flex: 28rem 0 0 !important;
    }

    .input-group-btn button {
        width: 5rem;
        height: 5rem;
        font-size: 1.7rem;
    }

    /* Filter Search */
    .authors-heading {
        font-size: 2.3rem;
    }

    .input-checkbox {
        font-size: 2rem;
    }

    .input-radio {
        font-size: 2rem;
    }

    .more a {
        font-size: 2rem;
    }

    /* Text Filtering */

    .text-filtering {
        margin-bottom: 3rem;
    }

    .text-filtering a {
        font-size: 1.5rem;
        margin: 0.5rem;
        margin-top: 1.5rem;
    }

    /* Page Number */

    .page-number {
        height: 5rem;
    }

    .number {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

}

@media screen and (min-width:500px) {


    /* Filter Search Input */
    .input-search input {
        flex: 38rem 0 0 !important;
    }

    /* Page Number */

    .page-number {
        height: 5rem;
    }

    .number {
        width: 3rem;
        height: 3rem;
        border-radius: 0.2rem;
        font-size: 1.2rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
    }



}

@media screen and (min-width:576px) {


    /* Filter Search Input */
    .input-search input {
        flex: 44rem 0 0 !important;
    }


}

@media screen and (min-width:768px) {


    /* Filter Search Input */
    .input-search input {
        flex: 20rem 0 0 !important;
    }

    .filter-okay input {
        width: 100%;
    }



}

@media screen and (min-width:992px) {


    /* Filter Search Input */
    #filter {
        padding-top: calc(80px + 2rem);
    }

    .toplam {
        height: 4rem;
    }

    .toplam p {
        font-size: 1.4rem;
    }

    .toplam input {
        font-size: 1.4rem;
    }

    .input-search input {
        font-size: 1.8rem;
        flex: 14rem 0 0 !important;
    }

    .filter-okay input {
        font-size: 1.5rem;
    }

    /* Text Filtering */

    .text-filtering {
        margin-bottom: 2rem;
    }

    .text-filtering a {
        font-size: 1.8rem;
        margin: 1rem;
    }

    /* Page Number */

    .page-number {
        height: 5rem;
    }

    .number {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 0.5rem;
        font-size: 1.7rem;
        padding: 1rem;
        margin-left: 1rem;
    }

    /* Filter Search */
    .authors-heading {
        font-size: 1.8rem;
    }

    .input-checkbox {
        font-size: 1.6rem;
    }

    .input-radio {
        font-size: 1.6rem;
    }

    .more a {
        font-size: 1.6rem;
    }

    .success-button {
        width: 4rem;
        height: 2.2rem;
    }

    .success-button > .circle {
        width: 1.2rem;
        height: 1.2rem;
    }

    .success-button.active > .circle {
        margin-left: 1.7rem;
    }


}

@media screen and (min-width:1200px) {
    /*Search Input */

    #filter {
        padding-top: calc(80px + 2rem);
    }

    .input-search input {
        font-size: 1.8rem;
        flex: 19rem 0 0 !important;
    }

    .success-button {
        width: 6rem;
        height: 3rem;
    }

    .success-button > .circle {
        width: 2rem;
        height: 2rem;
    }

    .success-button.active > .circle {
        margin-left: 2.8rem;
    }


}
