* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 10px;
}

.bg-light {
    background-color: #fff !important;
}

/* Bootstrap Navigation Menu Animation */

.navbar-toggler {
    background-color: #3AAFA9;
    border-radius: 5px;
    padding: 1rem 1rem;
}

.navbar-toggler.x {
    border: none;
}

.navbar-toggler.x:focus {
    outline: none;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 20% 20%;
    -ms-transform-origin: 20% 20%;
    transform-origin: 18% 200%;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 20% 90%;
    -ms-transform-origin: 20% 50%;
    transform-origin: 20% -100%;
}

.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler.x .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/*Navbar CSS Manual*/

.navbar-bg {
    color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #474747 !important;
}

.navbar-nav .nav-item {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 1rem;

}

.nav-link {
    color: #474747 !important;
    transition: all ease 0.3s;
}

.nav-link:hover {
    color: #3AAFA9 !important;
}

/* Home Active Class*/
.active {
    color: #3AAFA9 !important;
}

/* Dropdown Menu Account */

.dropdown button {
    width: 28rem;
    height: 6rem;
    border-radius: 1rem;
    text-align: left;
    background-color: #fff;
}

button p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #17252A;
}

button span {
    font-size: 1.5rem;
}

.btn {
    font-size: 2rem;
    font-weight: 600;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 0;
}

.account-img {
    margin-right: 1rem !important;
}

.account-img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.account-icons {
    position: absolute;
    right: 0;
}

.account-icons i {
    color: #17252A;
    font-size: 2.5rem;
}

#dropdownMenuButton {
    color: #000;
}

.dropdown-menu {
    border-radius: 1rem;
    border: 0;
    margin-top: 0.5rem;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.dropdown-item {
    width: 28rem;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #3AAFA9;
}

/* Filter */

#filter {
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    padding-top: calc(80px + 3rem);
}

.filter-button {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.filter-button p {
    font-size: 2.8rem;
    font-weight: 600;
    color: #3a3a3a;
}

.search-filter {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    position: relative;
    top: 2rem;
}

.toplam {
    height: 4.5rem;
}

.toplam p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3aaf9a;
}

.toplam input {
    background-color: transparent;
    outline: 0;
    border: 0;
    font-size: 1.5rem;
    color: #B5B5B5;
}

.input-search input {
    height: 4rem;
    font-size: 1.2rem;
    border: 2px solid #3a3a3a;
    border-radius: 0.5rem;
    flex: 20rem 0 0 !important;
}

.input-group-btn button {
    height: 4rem;
    font-size: 1.7rem;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.line {
    width: 90%;
    height: 0.2rem;
    background-color: #707070;
    opacity: 0.1;

}

.authors-heading {
    font-size: 2rem;
    font-weight: 600;
    color: #3a3a3a;
}

.input-checkbox {
    font-size: 1.8rem;
}

.input-radio {
    font-size: 1.6rem;
}

.more a {
    font-size: 1.6rem;
    color: #B5B5B5;
}

.success-button {
    width: 6rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 0.5rem;
    background-color: #00acee;
    transition: all 300ms ease-in-out;

}

.success-button > .circle {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.success-button.active {
    background-color: #3aaf9a;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.success-button.active > .circle {
    margin-left: 3rem;
}

.filter-okay input {
    width: 90%;
    height: auto;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    outline: 0;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition: all .2s ease-in-out;

}

.filter-okay input:hover {
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

/* User Card */

.last-authors-card-bg {
    background-color: #fff;
    height:28rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.last-authors-card {
    height: 11rem;
}

.user-name {
    width: 100%;
}

.user-img-size {
    width: 10rem;
    height: 10rem;
    background-color: #000;
    border-radius: 50%;
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.13);
}

.online-circle {
    width: 2rem;
    height: 2rem;
    background-color: #17E08F;
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 7rem;
}

#last-authors-text {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background-color: #f4f4f4;
}

.send-icon {
    font-size: 2.3rem;
    color: #3a3a3a;
}

.heart {
    color: #FFA8A8;
    font-size: 2.3rem;
}

.heart:hover {
    color:#FE6666;
}

.last-authors-h3 {
    font-size: 23px;
    color: #3A3A3A;
    font-weight: 600;
}

.last-authors-small {
    font-size: 1.2rem;
    font-weight: 400;
    color: #B5B5B5;
}

.follower-last-authors-text {
    width: 11rem;
    height: 3rem;
    background-color: #3AAFA9;
    border-radius: 0.5rem;
}

.follower-last-authors-text i {
    font-size: 1.7rem;
    color: #fff;
}

.follower-last-authors-text p {
    font-size: 1.9rem;
    font-family: 'Nunito';
    color: #fff;
    margin-bottom: 0px;
    margin-top: 1px !important;
}

.follower-last-authors {
    margin-top: 1rem;
}

.social-media-icons i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.social-media-icons i:nth-child(1) {
    color: #D6D6D6;
}

.social-media-icons i:nth-child(2) {
    color: #1DA1F2;
}

.social-media-icons i:nth-child(3) {
    color: #4267B2;
}

.social-media-icons i:nth-child(4) {
    color: #FF4431;
}

.social-media-icons i:nth-child(5) {
    color: #D6D6D6;
}

.social-media-icons i:nth-child(6) {
    color: #FFC014;
    margin-right: 0px;
}

.card-line-popular-authors {
    width: 100%;
    height: 0.2rem;
    background-color: #f4f4f4;
}

.last-authors-text-paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    color: #7E7E7E;
}

.information-last-authors-text p {
    font-size: 1.7rem;
    
}

.information-last-authors-text i {
    color: #C8C8C8;
    font-size: 2.3rem;

}

.eyes {
    color: #C8C8C8;
}

.comment {
    color: #C8C8C8;
}

.dollar {
    color: #C8C8C8;
}

.date {
    color: #C8C8C8;
}

.last-authors-link:hover {
    text-decoration: none;
}

.comment-link {
  color: #C8C8C8;
}

.comment-link:hover {
    color: #A8D4FF;
    text-decoration: none;
}

/* Footer */

#footer {
    width: 100%;
    height: auto;
    background-color: #000;
}

.footer-logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff !important;
}

.footer-logo:hover {
    text-decoration: none;
}

#footer h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #3AAFA9;
}

#footer p {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 1.4;
    color: #fff;
}

.footer-information {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #3AAFA9 !important;


}

#footer ul li {
    list-style: none;
    font-size: 2rem;

}

#footer ul li a {
    color: #fff;
    transition: all ease 0.3s;
}

#footer ul li a:hover {
    text-decoration: none;
    color: #3AAFA9;
}

.footer-margin {
    padding: 0 3%;
}

.copyright i {
    color: #fff;
}

/*Search Page Responsive */

@media screen and (min-width:375px) {
    /*Dropdown Account*/
    .dropdown button {
        width: 28rem;
        margin-bottom: 1rem;
    }

    .account-icons {
        left: 57%
    }
    
    /* Filter Button */
    #filter {
        padding-top: calc(40px + 3rem);
    }
    
    .search-filter {
        margin-bottom: 5rem;
    }
    
    .toplam {
    height: 4.5rem;
}

    .toplam p {
    font-size: 1.7rem;
}

    .toplam input {
    font-size: 1.8rem;
}

    .input-search input {
    height: 5rem;
    font-size: 1.8rem;
    flex: 28rem 0 0 !important;
}

    .input-group-btn button {
    width: 5rem;
    height: 5rem;
    font-size: 1.7rem;
}
    
    /* Filter Search */
    .authors-heading {
    font-size: 2.3rem;
}

    .input-checkbox {
    font-size: 2rem;
}

    .input-radio {
    font-size: 2rem;
}

    .more a {
    font-size: 2rem;
}
    
    /*User Card */
    .last-authors-card-bg {
        height:auto;
}

    .last-authors-card {
    height: 14.5rem;
}
    
    .send-card-button a i {
        margin-top: 0px !important;
    }
    
    .social-media-icons {
        margin-top: -6px !important;
        width: 100%;
        display: flex !important;
        justify-content: space-around;
    }
    
    .social-media-icons i {
     
    font-size: 2.3rem;
    
    }
    
    .information-last-authors-text p {
    font-size: 1.4rem;
    
}

    .information-last-authors-text i {
  
    font-size: 1.7rem;

}
    
    /* Footer */
    #footer {
        text-align: center;
    }
}

@media screen and (min-width:414px) {
    /* Dropdown Account */
    .dropdown button {
        width: 28rem;
        margin-bottom: 1rem;
    }

    .account-icons {
        left: 53%
    }
    
    /* User Card */
    .information-last-authors-text p {
    font-size: 1.6rem;
    
}

    .information-last-authors-text i {
  
    font-size: 1.9rem;

}
}

@media screen and (min-width:500px) {
    /* Dropdown Account */
    .dropdown button {
        width: 28rem;
        margin-bottom: 1rem;
    }

    .account-icons {
        left: 43%
    }
    
    /* Filter Search Input */
    .input-search input {
    flex: 38rem 0 0 !important;
}
    
    /* User Card */
    .last-authors-card {
    height: 11rem;
}
    
    .social-media-icons {
        margin-top: 1.7rem !important;
        width: 30%;
        justify-content: flex-end;
    }
      
    .information-last-authors-text p {
    font-size: 1.6rem;
    
}

    .information-last-authors-text i {
  
    font-size: 2.3rem;

}
    
    /* Footer */
    #footer {
        text-align: center;
    }
    
}

@media screen and (min-width:576px) {
    /*Dropdown Account*/
    .dropdown button {
        width: 28rem;
        margin-bottom: 1rem;
    }

    .account-icons {
        left: 38%
    }
    
     /* Filter Search Input */
    .input-search input {
    flex: 44rem 0 0 !important;
}
    
    
}

@media screen and (min-width:768px) {
    /* Dropdown Account */
    .dropdown button {
        width: 30rem;
        margin-bottom: 1rem;
    }

    .account-icons {
        left: 31%
    }
    
    /* Filter Search Input */
    .input-search input {
    flex: 20rem 0 0 !important;
}
    
    .filter-okay input {
        width: 100%;
    }
    
    /* User Card */
  
    .last-authors-card {
    height: 14.5rem;
}
    
    .social-media-icons {
        margin-top: -6px !important;
        width: 100%;
        display: flex !important;
        justify-content: space-around;
    }
    
    .social-media-icons i {
     
    font-size: 2.3rem;
    
    }
    
    .information-last-authors-text p {
    font-size: 1.4rem;
    
}

    .information-last-authors-text i {
  
    font-size: 1.7rem;

}
    
    /* Footer */
    #footer {
        text-align: left;
    }

}

@media screen and (min-width:992px) {
    /*Dropdown Account*/

    .dropdown button {
        width: 28rem;

    }

    .account-icons {
        left: 74%
    }
    
     /* Filter Search Input */
     #filter {
    padding-top: calc(80px + 2rem);
    }
    
    .toplam {
        height: 4rem;
    }
    
    .toplam p {
    font-size: 1.4rem;
}

    .toplam input {
    font-size: 1.4rem;
}
    
    .input-search input {
        font-size: 1.8rem;
        flex: 14rem 0 0 !important;
    }
    
     .filter-okay input {
        font-size: 1.5rem;
    }
    
     /* Filter Search */
    .authors-heading {
    font-size: 1.8rem;
}

    .input-checkbox {
    font-size: 1.6rem;
}

    .input-radio {
    font-size: 1.6rem;
}
    
    .last-authors-card {
    height: 11rem;
}
    
    .social-media-icons {
        width: 30%;
    }
    
    .social-media-icons i {
        margin-top: 2.2rem;
    }

    .more a {
    font-size: 1.6rem;
}
    
    .success-button {
    width: 4rem;
    height: 2.2rem;
}

    .success-button > .circle {
    width: 1.2rem;
    height: 1.2rem;
}

    .success-button.active > .circle {
    margin-left: 1.7rem;
}
 
    .social-media-icons i {
        font-size: 2.7rem;
    }
    
    .information-last-authors-text i {
    font-size: 2.4rem;
    
}
    
    .information-last-authors-text p {
    font-size: 1.7rem;
    
}

}

@media screen and (min-width:1200px) {
    /*Dropdown Account*/
    .dropdown button {
        width: 28rem;

    }

    .account-icons {
        right: 0%
    }
    
    /*Search Input */
    
    #filter {
    padding-top: calc(80px + 2rem);
    }
    
    
    .input-search input {
        font-size: 1.8rem;
        flex: 19rem 0 0 !important;
    }
    
     .success-button {
    width: 6rem;
    height: 3rem;
}

    .success-button > .circle {
    width: 2rem;
    height: 2rem;
}

    .success-button.active > .circle {
    margin-left: 2.8rem;
}
   
    
    
}













